/* ---------- Home Page Universals ---------- */

.link-button {
    background: var(--white);
    color: var(--black-lighter);
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border: 0.0625rem solid var(--black-lighter);
    border-radius: 0.0625rem;
    text-decoration: none;
}

.link-button:hover {
    background: var(--bg-two);
    color: var(--black-lighter);
    border: 0.0625rem solid var(--black-lighter);
}

.link-button:active {
    background: var(--bg-two);
    color: var(--black-lighter);
    border: 0.0625rem solid var(--black-lighter);
}

.link-button__main {
    background: var(--primary);
    color: var(--black-lighter);
    border: 0.0625rem solid var(--primary);
}

.link-button__main:hover {
    background: var(--primary-lighter);
    color: var(--black-lighter);
    border: 0.0625rem solid var(--primary-lighter);
}

.link-button__main:active {
    background: var(--primary-lighter);
    color: var(--black-lighter);
    border: 0.0625rem solid var(--primary-lighter);
}

/* ---------- Hero Section ---------- */

.hero {
    background: linear-gradient(to bottom, var(--bg) 50%, var(--white) 50%);
    padding: 1.875rem 0rem 3.125rem 0rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__site-title {
    padding-bottom: 1.438rem;
}

.hero__quote {
    max-width: 35ch;
    padding-bottom: 1.438rem;
}

.hero__img {
    max-width: 37.5%;
    height: auto;
    padding-bottom: 1.438rem;
    border-radius: 0.125rem;
}

.hero__title {
    font-size: 1.125rem;
    width: 38ch;
    padding-bottom: 1.563rem;
}

.hero__cta {
    padding: 1.5rem 0rem;
}

/* ---------- Bio Section ---------- */

.bio {
    background: var(--white);
    border-top: 0.0625rem solid var(--bg);
    padding: 3.125rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio__text-section {
    width: 80%;
    flex-basis: 50%;
}

.bio__title {
    padding-bottom: 1.25rem;
}

.bio__desc {
    padding-bottom: 1.25rem;
}

.bio__learn-more {
    padding: 1.25rem 0rem;
}

.bio__image-section {
    width: 80%;
    padding-top: 1.25rem;
    flex-basis: 50%;
}

.bio__img {
    max-width: 60%;
    height: auto;
    border-radius: 0.125rem;
}

/* ---------- Media Queries ---------- */

@media (max-width: 45rem /*Phone - less than 720px*/) {

}

@media (min-width: 45rem /*Tablet - more than 720px*/) {
    .hero__img {
        max-width: 100%;
    }

    .bio {
        flex-direction: row-reverse;
    }

    .bio__text-section {
        width: 50%;
    }

    .bio__desc {
        width: 85%;
    }

    .bio__image-section {
        width: 50%;
        text-align: center;
    }

    .bio__img {
        max-width: 17.5rem;
    }
}

@media (min-width: 77.5rem /*Desktop - more than 1240px*/) {
    .link-button {
        font-size: 1.25rem;
    }

    .hero {
        padding: 5rem 0rem 10rem 0rem;
    }

    .hero__quote {
        font-size: 1.313rem;
    }

    .hero__title {
        font-size: 1.313rem;
    }

    .bio {
        padding: 8.75rem 0rem;
    }

    .bio__desc {
        width: 50ch;
    }

    .bio__image-section {
        text-align: right;
        padding-right: 6.25rem;
    }

    .bio__img {
        max-width: 100%;
    }
}