/* ---------- Home Page Universals ---------- */

.link-button {
    background: var(--white);
    color: var(--black-lighter);
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--black-lighter);
    border-radius: 0.0625rem;
    text-decoration: none;
}

.link-button:hover {
    background: var(--bg-two);
    color: var(--black-lighter);
    border: 1px solid var(--black-lighter);
}

.link-button:active {
    background: var(--bg-two);
    color: var(--black-lighter);
    border: 1px solid var(--black-lighter);
}

.link-button__main {
    background: var(--primary);
    color: var(--black-lighter);
    border: 1px solid var(--primary);
}

.link-button__main:hover {
    background: var(--primary-lighter);
    color: var(--black-lighter);
    border: 1px solid var(--primary-lighter);
}

.link-button__main:active {
    background: var(--primary-lighter);
    color: var(--black-lighter);
    border: 1px solid var(--primary-lighter);
}

/* ---------- Hero Section ---------- */

.hero {
    background: linear-gradient(to bottom, var(--bg) 50%, var(--white) 50%);
    padding: 30px 0px 50px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__site-title {
    padding-bottom: 23px;
}

.hero__quote {
    max-width: 35ch;
    padding-bottom: 23px;
}

.hero__img {
    max-width: 37.5%;
    height: auto;
    padding-bottom: 23px;
    border-radius: 2px;
}

.hero__title {
    font-size: 18px;
    width: 38ch;
    padding-bottom: 25px;
}

.hero__cta {
    padding: 1.5rem 0rem;
}

/* ---------- Bio Section ---------- */

.bio {
    background: var(--white);
    border-top: 1px solid var(--bg);
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bio__text-section {
    width: 80%;
}

.bio__title {
    padding-bottom: 20px;
}

.bio__desc {
    padding-bottom: 20px;
}

.bio__learn-more {
    padding: 20px 0px;
}

.bio__image-section {
    width: 80%;
    padding-top: 1.25rem;
}

.bio__img {
    max-width: 60%;
    height: auto;
    border-radius: 2px;
}

/* ---------- Media Queries ---------- */

@media (max-width: 45rem /*Phone - less than 720px*/) {

}

@media (min-width: 45rem /*Tablet - more than 720px*/) {
    .hero__img {
        max-width: 100%;
    }
}

@media (min-width: 77.5rem /*Desktop - more than 1240px*/) {
    .hero {
        padding: 80px 0px 160px 0px;
    }

    .hero__quote {
        font-size: 21px;
    }

    .hero__title {
        font-size: 21px;
    }

    .link-button {
        font-size: 20px;
    }
}