:root {
  font-size: 1rem;
  --white: #FFF;
  --black: #000;
  --gray: #999;
  --white-darker: #EEE;
  --white-darkest: #D6D6D6;
  --black-lighter: #111;
  --gray-darker: #444;
  --gray-darkest: #363738;
  --gray-lightest: #D6D6D6;
  --form-placeholder: #595959;
  --bg: #f9f9f9;
  --primary: #7400CC;
  --primary-lighter: #E2BDFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0.0625rem dashed var(--primary);
}

body {
  font-family: sans-serif;
  color: var(--black);
  background: var(--bg);
  line-height: 1.5;
  line-length: 36rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 7rem;
  margin: 0;
}

.container {
  flex: 1;
}

ul {
  list-style: none;
}

/* Navigation */

.nav {
  background: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  border-radius: 0.0625rem;
  overflow: hidden;
  box-shadow: 0 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,.1);
  filter: alpha(opacity=90);
  opacity: 0.95;
  z-index: 10;
}

.nav-logo-section {
  padding-left: 1.375rem;
}

.nav-author-logo {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--black-lighter);
  padding: 0.25rem 0rem;
  border-bottom: 0.125rem solid transparent;
  border-radius: 0.0625rem;
  text-decoration: none;
}

.nav-author-logo:hover {
  border-bottom: 0.125rem solid var(--gray);
}

.nav-author-logo:active {
  border-bottom: 0.125rem solid var(--gray);
}


.nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  font-size: 0.9375rem;
  display: block;
  color: var(--black-lighter);
  border-bottom: 0.1875rem solid transparent;
  border-radius: 0.0625rem;
  padding: 0.9375rem 1.5rem 0.9375rem 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.nav ul li a:hover {
  border-bottom: 0.1875rem solid var(--gray);
}

.nav ul li a:active {
  border-bottom: 0.1875rem solid var(--gray);
}

.nav [aria-current=page] {
  border-bottom: 0.1875rem solid var(--gray);
}

.nav-contact {

}

.nav-bars {
  color: var(--black-lighter);
  background: var(--bg);
  font-size: 1.25rem;
  padding: 2.75rem 1.5rem 2.75rem 1.5rem;
  border: none;
  cursor: pointer;
}

.nav-bars:hover {
  color: var(--gray);
  background: var(--bg);
}

.nav-bars:active {
  color: var(--gray);
  background: var(--bg);
}

.nav-dropdown {
  display: none;
  position: fixed;
  background: var(--bg);
  top: 0;
  left: 0;
  height: 100vh;
  border-radius: 0.0625rem;
  overflow: auto;
  box-shadow: 0 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,.1);
  filter: alpha(opacity=95);
  opacity: 0.95;
  z-index: 12;
}
 /* dropdown nav's li's */
.nav-dropdown ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-dropdown ul li {
  list-style: none;
}

.nav-dropdown ul li a {
  display: block;
  color: var(--black-lighter);
  font-size: 1.5rem;
  font-weight: 700;
  min-width: 15rem;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 0.1875rem solid transparent;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
}

.nav-dropdown ul li a:hover {
  border-bottom: 0.1875rem solid var(--gray);
}

.nav-dropdown ul li a:active {
  border-bottom: 0.1875rem solid var(--gray);
}

.nav-dropdown [aria-current=page] {
  border-bottom: 0.1875rem solid var(--gray);
}
/* end dropdown nav li's */

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  cursor: pointer;
  z-index: 11;
}

/* Footer */

.footer {
  color: var(--gray);
  background: var(--black);
  flex-shrink: 0;
}

.footer a {
  color: var(--white);
  text-decoration: none;
}

.footer a:hover {
  color: var(--white);
  border-bottom: 0.125rem solid var(--gray-darker);
}

.footer a:active {
  color: var(--white);
  border-bottom: 0.125rem solid var(--gray-darker);
}

.ft-main {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3.5rem 0rem 1.25rem 0rem;
}

/*.ft-main:after {
  content: ""; 
  display: block; 
  margin: 0rem auto; 
  width: 80%; 
  padding-top: 2.5rem; 
  border-bottom: 0.0625rem solid var(--gray-lighter);
} */

.ft-main-item {
  max-width: 90%;
  padding: 1.25rem;
}

.ft-sign-up {
  background: var(--white);
  border-radius: 0.125rem;
  width: 43ch;
  padding: 2rem 0rem 2rem 0rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.ft-heading {
  font-family: sans-serif;
  font-size: 1.125rem;
  color: var(--black-lighter);
  padding-bottom: 0.625rem;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input[type="email"] {
  font-size: 1.0625rem;
  color: var(--black);
  text-align: center;
  border: 0.0625rem solid var(--primary-lighter);
  border-bottom: var(--gray-darker);
  border-radius: 0.0625rem;
  padding: 1.0625rem 2.75rem 0.9375rem 2.75rem;
  margin-top: 2rem;
  
}

input[type="email"]::placeholder {
  font-size: 1.0625rem;
  color: var(--form-placeholder);
  text-align: center;
  opacity: 1;
}

input[type="submit"] {
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--black-lighter);
  background: var(--primary-lighter);
  cursor: pointer;
  border: 0.0625rem solid var(--primary-lighter);
  border-radius: 0.0625rem;
  padding: 1rem 4.5rem;
}

input[type="submit"]:hover {
  color: var(--black-lighter);
  background: var(--white);
  border: 0.0625rem solid var(--primary-lighter);
}

input[type="submit"]:active {
  color: var(--black-lighter);
  background: var(--white);
  border: 0.0625rem solid var(--primary-lighter);
}

#form-desc {
  font-style: italic;
  width: 30ch;
  color: var(--gray-darkest);
  margin-top: 0.75rem;
}

.ft-author {
  font-size: 1.125rem;
  padding-top: 4rem;
  text-align: center;
}

.ft-author-logo {
  padding-bottom: 0.25rem;
}

.ft-social {
  padding: 1.5rem 1.875rem 1.25rem;
}

.ft-social-header {
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.ft-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

.ft-social-list li {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.ft-social-list li a {
  padding-bottom: 0.5rem;
}

.ft-legal {
  font-size: 0.8125rem;
  padding: 0rem 1.875rem 4rem 1.875rem;
}

.ft-legal-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  padding-bottom: 0.625rem;
  white-space: nowrap;
  text-align: center;
}

.ft-legal-list li a {
  color: var(--gray);
  padding-bottom: 0.125rem;
}

.ft-legal-list li:first-child {
  width: 100%;
}

#always-hidden {
  display: none;
}

/*.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}*/

/* Media Queries */

@media (max-width: 45rem /*720px and smaller*/) {
  body {
    padding-top: 0rem;
    padding-bottom: 3.5rem;
  }

  .nav {
    top: auto;
    bottom: 0;
  }

  .nav-items {
    flex-grow: 1;
  }

  #mobile-hidden {
    display: none;
  }

  .ft-main {
    justify-content: center;
  }
}

@media (min-width: 45rem /*720px and larger*/) {
  #mobile-only {
    display: none;
  }
}

@media (min-width: 77.5rem /*1240px and larger*/) {
  .nav {
    justify-content: space-around;
  }

  .nav-logo-section {
    padding-left: 0rem;
  }  

  .ft-main {
    justify-content: center;
  }
}

/*
https://www.orbitmedia.com/blog/web-design-standards/
https://www.orbitmedia.com/blog/website-footer-design-best-practices/
https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-multi-level-sticky-footer-with-flexbox--cms-33341
WAI
https://www.w3.org/WAI/tutorials/menus/
Basics:
https://pos.toasttab.com/blog/7-things-restaurant-websites-need-to-include
Essential Copywriting Tips for Important Pages:
https://blog.hubspot.com/marketing/copywriting-tips-for-website-ht
Visual Story Telling:
https://medium.com/visual-stories/10-simple-rules-of-visual-storytelling-4ee868498447#.xfo8kfi1v
*/
